<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587818433895-7mipuappjkcd9svbkjeu1lqbd2mk2t67.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587818433895-7mipuappjkcd9svbkjeu1lqbd2mk2t67</string>
	<key>API_KEY</key>
	<string>AIzaSyBH3p9304hELCWYnfsw38yUaulcam21Ai8</string>
	<key>GCM_SENDER_ID</key>
	<string>587818433895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.technoexponent.ChatterBox</string>
	<key>PROJECT_ID</key>
	<string>chatter-box-a4d6c</string>
	<key>STORAGE_BUCKET</key>
	<string>chatter-box-a4d6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587818433895:ios:407c935ddd324f0419c3c2</string>
	<key>DATABASE_URL</key>
	<string>https://chatter-box-a4d6c.firebaseio.com</string>
</dict>
</plist>